@import './variables';
header{
    height: 20vh;
    background-color: white;
    img{
        max-width: 100%;
        
    }
    li{
        color: $color-secondary;
        font-weight: bold;
    }
    li.active{
        color: $color-primary
    }
}

.img-container{
    width: fit-content;
}
