@import './variables';
main{
    overflow: hidden;
}
h3{
    color: white;
    font-size: 20px;
}
h4{
    color: #959595;
    font-size: 18px;
}
h5{
    color: $color-primary;
    font-size: 16px;
}
.hero-section{
    background-image: url(./../assets/jumbotron.jpg);
    background-size: cover;
    height: 60vh;
    
}
.series-container{
    background-color: #1c1c1c;
    position: relative;
    .serie-card{
        width: 192px;
    }
}
.series-container::before{
    content: 'CURRENT SERIES';
    position: absolute;
    top: 0;
    left: 10%;
    transform: translateY(-50%);
    background-color: $color-primary;
    padding: 0.5rem 1.5rem;
    z-index: 99;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border-radius: 0.25rem;
}
.icons-nav{
    background-color: $bg-primary;
    img{
        max-width: 30px;
    }
    ul{
        li{
            padding: 1.25rem 0;
            display: flex;
            align-items: center;
            gap: 1rem;
            font-size: 14px;
        }
        
    }
    h3{
        font-size: 20px;
        color: white
    }
}

.jumbotron{
    background: url(../assets/dc-logo-bg.png) right center no-repeat , url(../assets/footer-bg.jpg) left center no-repeat;
    background-size: 40%, cover;
    color: #959595;
    li:hover{
        color: $color-primary;
    }
}